<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <style>
        body{
            text-align:center}
    </style>
    <script>
function goBack() {
    window.history.back();
}
</script>
</head>
<body>
<div>
    {{customer.id}} {{customer.firstName}} {{customer.lastName}} {{customer.phone}} {{customer.email}}
</div>
<button onclick="goBack()">Return</button>
<div authorize="isAuthenticated()">
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>