<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        body{
            background:limegreen;
            text-align:center;
            }
        h1{
            color:#cc0a0a;
            }
        a{
            color:yellow;
            }
    </style>
</head>
<body>
<h1>Welcome</h1>
<a href="/customers">Customers</a>
<div authorize="isAuthenticated()">
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>