<!DOCTYPE HTML>
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<a href="/login/github">Github</a>
<a href="/login/facebook">Facebook</a>
<a href="/login/google">Google</a>
<h1>Login</h1>
<form action="/login" method="post">
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" name="username"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Login"/>&nbsp;&nbsp;
                <input type="reset" value="Reset"/></td>
        </tr>
    </table>
</form>
<div authorize="isAuthenticated()">
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>